html {
    background-image: url(images/regBg.png);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Constantia', Times, serif;
    font-style: normal;
    color: #CFCCD1;
}

.signIn {
    display: flex;
    position: relative;
    left: 220px;
    height: 300px; 
    width: 300px;
    
}

.column {
    background-color: rgb(179, 179, 179);
    min-height: 300px;
   
    width: 300px;
   
    overflow-y:auto;
}


